.align-middle > [class^="col-"],
.align-middle > [class*=" col-"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 1;

    #logo {
        height: 36px;
    }
}

.navbar-expand {
    > .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar-nav .nav-item {
        padding: 20px 0;

        &.nav-item--lang {
            position: relative;
            overflow: hidden;

            svg {
                position: absolute;
                top: 27px;
                left: 0;
                height: 44px;
                z-index: -1;
            }
        }
        .nav-link {
            display: inline-flex;
            align-items: center;
            height: 56px;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: white;

            &:hover {
                color: $dark;
            }
        }

        &.active .nav-link {
            color: $primary;
        }
    }
}

svg {
    display: block;
}

a {
    transition: $transition-base;    
}

h4 {
    margin-bottom: .8rem;

    &.inset {
        margin-left: 2rem;
    }
}

.btn-lg {
    font-size: 1.1rem;
}

.btn-primary {
    color: white;
    font-weight: $font-weight-medium;

    &:not(.disabled):not(.disabled) {
        &:hover,
        &:active {
            color: white;
        }
    }
}

:active {
    transition-duration: 100ms;
}

.section {
    padding: $jumbotron-padding 0;
    overflow: hidden;
    
    @include media-breakpoint-up(sm) {
        padding: 3rem 0;
    }
}

.display-5  {
    margin-bottom: 4rem;
}

small, .small {
    font-size: .8rem;
    line-height: 1.8;
}

.content {
    ul {
        padding-left: 2rem;
        list-style: none;

        li {
            margin-bottom: 10px;
            
            &:before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                border: 2px solid $secondary;
                margin-left: -23px;
                margin-right: 15px;            
                margin-bottom: 2px;            
            }
        }
    }
}

.jumbotron {
    position: relative;
    margin-bottom: 0;
    padding: ($jumbotron-padding * 2) 0;
    
    background-color: $secondary;
    color: white;

    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
        height: 800px;
        max-height: 100vh;
    }    

    .display-2 {
        margin-bottom: 20px;
        margin-left: 3px;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .container-fluid {
        max-width: 1440px;
    }
}

.jumbotron_readOn {
    position: relative;
    height: 90px;
    overflow: hidden;

    display: flex;
    justify-content: center;

    > svg {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 8px;
    }

    a {
        position: relative;
        margin-top: 15px;
        font-size: $font-size-sm;
        color: white;

        svg {
            margin: 3px auto 0; 
            height: 21px;
            transition: transform $trans-fast;                
        }

        &:hover {
            text-decoration: none;
            color: $dark;

            svg {
                transform: translateY(3px);
            }
        }
    }
}

.landing_text {
    position: relative;
    max-width: 540px;
    
    @include media-breakpoint-down(lg) {
        margin-bottom: 260px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 60px;
    } 
}

.landing_illustrations {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;

    .row {
        height: 100%;
    }
}

@keyframes guy-arm {
    0% {
        transform: translateX(-3px);
    }
    20% {
        transform: translateX(2px);
    }
    65% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-3px);     
    }
}

#landing_guy {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 10px);
    transform: translateX(-50%);
    z-index: 3;
    height: 320px;

    #folder {
        transition: transform $trans-material-normal;

        .jumbotron:hover & {
            transform: translateY(-100px);                
        }
    }

    #arm {
        transform-origin: 50% 20%;
        animation: guy-arm 6s ease infinite;        
    }
}

#landing_guy_bg {
    position: absolute;
    bottom: 0;
    left: calc(50% + 10px);
    transform: translateX(-50%);
    height: 510px;
    z-index: 2;
}

#landing_buildings,
#landing_bg_bottomright {
    height: 720px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 220px);
}

#landing_buildings {
    z-index: 2;        
    transform-origin: 0 77%;

    @include media-breakpoint-down(md) {
        display: none;
    }

    @media (min-width: 1900px) {
    }

    line, path {
        stroke-miterlimit: 10 !important;
        stroke-width: 1.8px !important;
        stroke-dasharray: 10,7 !important;
        vector-effect: non-scaling-stroke !important;
        animation: nlx-line 1s linear infinite;
    }
}

@keyframes nlx-line {
    from {
        stroke-dashoffset: 17px;
    }
    to {
        stroke-dashoffset: 0;        
    }
}

#landing_bg_bottomright {
    z-index: 1;
    @include media-breakpoint-up(xl) {
    }    

    @media (min-width: 1900px) {
    }
}

#landing_bg_topright {
    height: 260px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    @include media-breakpoint-up(xl) {
        height: 280px;
    }    

    @media (min-width: 1900px) {
        height: 440px;
    }
}

#landing_bg_topleft {
    height: 280px;    
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 0;

    @include media-breakpoint-down(xs) {
        left: -300px;
    }
    
    @include media-breakpoint-only(sm) {
        left: -250px;
    }

    @include media-breakpoint-only(md) {
        left: -200px;
    }

    @include media-breakpoint-only(lg) {
        left: -100px;
    }

    @include media-breakpoint-up(xl) {
        height: 275px;
    }    
}

#landing_bg_bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;

    height: 360px;
}

#landing_bg_center {
    height: 160px;
    position: absolute;
    top: 50px;
    left: 46%;
    transform: translateX(-50%);
    z-index: 0;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

#landing_open {
    min-width: 100%;
    height: 650px;
    order:1;

    @include media-breakpoint-down(xs) {
        height: 450px;
        margin-top: -130px;        
    }
    @include media-breakpoint-down(md) {
        margin-left: -60px;
        margin-right: -60px;
    }    
}

#landing_privacy {
    align-self: end;
    max-height: 380px;    
    min-width: 100%;
    order:1;
    
    @include media-breakpoint-only(sm) {
        margin-left: -40px;
        margin-right: -120%;
    }
    
    @include media-breakpoint-only(md) {
        margin-left: -80px;
        margin-right: -90%;
    }    
    
    @include media-breakpoint-up(lg) {
        margin-right: -50%;
    }    
}

#landing_safe {
    align-self: flex-start;
    // min-width: 100%;
    height: 300px;
    margin-top: 60px;
    order:1;

    @include media-breakpoint-only(sm) {
        margin-left: -150%;
        height: 250px;        
    }
    @include media-breakpoint-only(md) {
        margin-left: -80%;
    }    
}

.xs-order-1 {
    @include media-breakpoint-down(xs) {
        order: 1;
    }    
}
