.container.wide {
    max-width: 1440px;
}

.comparison {
    @include media-breakpoint-up(md) {
        padding-left: 0;
        padding-right: 0;
    }

    .compare-info {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
        margin-bottom: 4px;

        svg {
            height: 18px;
            
            path {
                fill: $gray-400;
                transition: fill $trans-normal;
            }
        }

        &:hover {
            svg path {
                fill: $primary;
            }
        }
    }

    ul {
        padding-left: 2rem;
        list-style: none;        

        li {
            margin-bottom: 10px;
            
            &:before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $sec-500;
                margin-left: -23px;
                margin-right: 15px;            
                margin-bottom: 2px;            
            }
        }
    }
}

$color-off: #0452A0;

@keyframes lamp-1 {
    0% {
        fill: $primary;
    }
    14% {
        fill: $primary;
    }
    15% {
        fill: $color-off;
    }
    16% {
        fill: $primary;
    }
    18% {
        fill: $primary;
    }
    19% {
        fill: $color-off;
    }
    21% {
        fill: $primary;
    }
    23% {
        fill: $primary;
    }
    24% {
        fill: $color-off;
    }
    25% {
        fill: $primary;
    }
    70% {
        fill: $primary;
    }
    71% {
        fill: $color-off;
    }
    72% {
        fill: $primary;
    }
    100% {
        fill: $primary;
    }
}

@keyframes lamp-2 {
    0% {
        fill: $primary;
    }
    40% {
        fill: $primary;
    }
    41% {
        fill: $color-off;
    }
    42% {
        fill: $primary;
    }
    45% {
        fill: $primary;
    }
    46% {
        fill: $color-off;
    }
    48% {
        fill: $primary;
    }
    78% {
        fill: $primary;
    }
    79% {
        fill: $color-off;
    }
    80% {
        fill: $primary;
    }
    100% {
        fill: $primary;
    }
}

@keyframes lamp-3 {
    0% {
        fill: $primary;
    }
    30% {
        fill: $primary;
    }
    31% {
        fill: $color-off;
    }
    32% {
        fill: $primary;
    }
    55% {
        fill: $primary;
    }
    56% {
        fill: $color-off;
    }
    58% {
        fill: $primary;
    }
    88% {
        fill: $primary;
    }
    89% {
        fill: $color-off;
    }
    90% {
        fill: $primary;
    }
    100% {
        fill: $primary;
    }
}

@keyframes lamp-4 {
    0% {
        fill: $primary;
    }
    34% {
        fill: $primary;
    }
    35% {
        fill: $color-off;
    }
    36% {
        fill: $primary;
    }
    68% {
        fill: $primary;
    }
    69% {
        fill: $color-off;
    }
    70% {
        fill: $primary;
    }
    72% {
        fill: $primary;
    }
    73% {
        fill: $color-off;
    }
    74% {
        fill: $primary;
    }
    80% {
        fill: $primary;
    }
    81% {
        fill: $color-off;
    }
    82% {
        fill: $primary;
    }
    100% {
        fill: $primary;
    }
}

.comparison_side {
    @include media-breakpoint-down(md) {
        margin-top: 40px;        
    }

    &#old {
        ul li:before {
            background-color: $gray-400;
        }
    }

    svg > * {
        will-change: opacity;
        transition: opacity $trans-slow;
        
        &[id^=connection] path {
            transition: stroke-width $trans-slow;
        }
    }

    [id^=link] path {
        transform: translateY(30px);
        transition: transform $trans-material-slow;
    }

    [id^=link-mobile] path {
        transform: translate(25px, 20px);
    }    

    [id^=screen] {
        transition: fill $trans-slow;        
    }

    [id^=lamp-1] {
        animation: lamp-1 5s linear infinite;
    }    
    [id^=lamp-2] {
        animation: lamp-2 5s linear infinite;
    }    
    [id^=lamp-3] {
        animation: lamp-3 5s linear infinite;
    }    
    [id^=lamp-4] {
        animation: lamp-4 5s linear infinite;
    }    

    &.highlight-connection  {
        .comparison_illustration svg {
            > *[id^=connection] path {
                stroke-width: 2px;
            }

            > *:not([id^=connection]) {
                opacity: 0.25;
            }
        }
    }

    &.highlight-apps {
        .comparison_illustration svg > *:not([id^=app]) {
            opacity: 0.25;
        }

        
        [id^=link] path {
            transition-delay: .5s;
            transform: translateY(0);                
        }

        [id^=link-mobile] path {
            transform: translate(0, 0);            
        }        

        [id^=screen] {
            transition-delay: .5s;
            fill: #3D83FA;
        }        
    }

    &.highlight-logging {
        .comparison_illustration svg > *:not([id^=log]) {
            opacity: 0.25;
        }
    }
}

.comparison_illustration {
    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 60px;
    }
}

.comparison_content {
    max-width: 540px;
    margin: 0 auto;
}

.compare-highlight {
    padding: 4px 6px 5px;
    border-radius: 3px;
    background-color: $sec-100;
    color: $secondary;
    cursor: default;
}

#whatsnew {
    @include media-breakpoint-up(md) {
        padding-top: 2rem;
    }
}

.page-landing {
    main {
        @include media-breakpoint-down(xl) {
            font-size: 1.05rem;                
        }
        
        @include media-breakpoint-up(xl) {
            font-size: 1.15rem;                
        }        
    }

    h3 {
        @include media-breakpoint-down(md) {
            margin-top: 1rem;
        }        
    }

    .jumbotron {
        position: relative;
        margin-bottom: 0;
        padding: ($jumbotron-padding * 2) 0;
        
        background: $secondary;
        background: linear-gradient(90deg, $secondary, $sec-200);

        color: white;
        font-weight: $font-weight-normal;
        
        display: flex;
        align-items: center;

        @include media-breakpoint-down(md) {
            height: auto;
        }

        @include media-breakpoint-down(xl) {
            height: 550px;

            .container-fluid {
                max-width: 1240px;
            }
        }

        @include media-breakpoint-up(xl) {
            height: 750px;

            .container-fluid {
                max-width: 1440px;
            }
        }    

        .display-2 {
            margin-bottom: 20px;
            margin-left: 3px;
        }

        .btn-primary {
            box-shadow: 0 3px 0 darken($primary, 10%);            
        }
    }

    .jumbotron_readOn {
        position: relative;
        height: 70px;
        overflow: hidden;

        > svg {
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-left: 4px;
        }

        #goto {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 15px;
            font-size: $font-size-sm;
            color: white;

            svg {
                margin: 3px auto 0; 
                height: 21px;
                transition: transform $trans-fast;                
            }

            &:hover {
                text-decoration: none;
                color: $dark;

                svg {
                    transform: translateY(3px);
                }
            }
        }
    }

    .landing_intro {
        position: relative;

        @include media-breakpoint-down(sm) {
            margin-bottom: 130px;
        }

        @include media-breakpoint-only(md) {
            margin-bottom: 100px;
        }

        h2 {
            font-weight: $font-weight-medium;

            @include media-breakpoint-down(xl) {
                font-size: 32px;
                margin-bottom: 10px;                
            }
    
            @include media-breakpoint-up(xl) {
                font-size: 40px;
                margin-bottom: 15px;                
            }
        }
    }

    .landing_intro-wrapper {
        @include media-breakpoint-down(md) {
            margin: 0 auto;
        }

        @include media-breakpoint-down(xl) {
            max-width: 500px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 540px;            
        }
    }

    .landing_illustrations {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        overflow: hidden;

        .row {
            height: 100%;
        }
    }

    @keyframes guy-arm {
        0% {
            transform: translateX(-3px);
        }
        20% {
            transform: translateX(2px);
        }
        65% {
            transform: translateX(2px);
        }
        100% {
            transform: translateX(-3px);     
        }
    }

    #landing_guy {
        position: absolute;
        bottom: 20px;
        left: calc(50% - 5px);
        transform: translateX(-50%);
        z-index: 3;
        
        @include media-breakpoint-down(xl) {
            height: 190px;
        }

        @include media-breakpoint-up(xl) {
            height: 280px;  
        }

        #arm {
            transform-origin: 50% 20%;
            // animation: guy-arm 6s ease infinite;
        }
    }

    #landing_guy_bg {
        position: absolute;
        bottom: 0;
        left: calc(50% + 10px);
        transform: translateX(-50%);
        z-index: 2;

        @include media-breakpoint-down(xl) {
            height: 320px;            
        }        

        @include media-breakpoint-up(xl) {
            height: 460px;  
        }
    }

    #landing_buildings,
    #landing_bg_bottomright {
        position: absolute;
        bottom: 0;
    }
    
    #landing_buildings {
        z-index: 2;        

        @include media-breakpoint-down(md) {
            display: none;
        }

        @include media-breakpoint-down(xl) {
            height: 380px;            
            bottom: 90px;     
            left: calc(50% + 15px);                                       
        }

        @include media-breakpoint-up(xl) {
            height: 560px;     
            left: calc(50% + 20px);        
            bottom: 120px;            
        }

        path {
            stroke-miterlimit: 10 !important;
            stroke-width: 1.8px !important;
            stroke-width: 1px !important;
            stroke-dasharray: 10,7 !important;
            vector-effect: non-scaling-stroke !important;
            transform: rotateZ(360deg);
        }
    }

    #landing_bg_bottomright {
        @include media-breakpoint-down(xl) {
            height: 205px;
            left: calc(50% - 160px);            
        }        

        @include media-breakpoint-up(xl) {
            height: 280px;        
            left: calc(50% - 190px);
        }   
    }

    #landing_bg_topright {
        height: 260px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;

        @include media-breakpoint-down(xs) {
            display: none;
        }        

        @include media-breakpoint-only(lg) {
            display: none;
        }        

        @include media-breakpoint-up(xl) {
            height: 280px;
        }    

        @media (min-width: 1900px) {
            height: 380px;
        }
    }

    #landing_bg_topleft {
        height: 280px;    
        position: absolute;
        top: 0;
        left: 5%;
        z-index: 0;

        @include media-breakpoint-down(lg) {
            display:none;            
        }

        @include media-breakpoint-up(xl) {
            height: 275px;
        }    
    }

    @keyframes float-bottomleft {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    #landing_bg_bottomleft {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        animation: float-bottomleft 6s ease-in-out infinite;          

        @include media-breakpoint-down(md) {
            height: 280px;
        }

        @include media-breakpoint-down(xl) {
            height: 210px;
        }

        @include media-breakpoint-up(xl) {
            height: 320px;
        }        
    }

    @keyframes float {
        0% {
            transform: translate(-50%, 0);
        }
        50% {
            transform: translate(-50%, 10px);
        }
        100% {
            transform: translate(-50%, 0);
        }
    }

    #landing_bg_center {
        position: absolute;
        top: 50px;
        left: 46%;
        transform: translateX(-50%);
        z-index: 0;

        animation: float 6s ease-in-out infinite;  

        @include media-breakpoint-down(sm) {
            display: none;
        }

        @include media-breakpoint-down(xl) {
            height: 130px;
        }

        @include media-breakpoint-up(xl) {
            height: 160px;
        }    
    }

    #landing_open {
        min-width: 100%;
        order:1;
        
        @include media-breakpoint-down(sm) {
            height: 440px;
        }

        @include media-breakpoint-up(md) {
            height: 600px;            
        }

        @include media-breakpoint-up(md) {
            margin-top: -80px;
            margin-bottom: -60px;
        }
    }

    #landing_privacy {
        width: 100%;
        max-height: 380px;  

        @include media-breakpoint-down(sm) {
            height: 300px;
        }
    }

    #landing_safe {
        width: 100%;
        max-height: 300px;
        margin-top: 20px; 

        @include media-breakpoint-down(sm) {
            height: 240px;
        }
    }
}
