.page-landing {
    main {
        font-size: 1.2rem;    
        color: $gray-700;

        @include media-breakpoint-down(md) {
            font-size: calc(1.0625rem + (3 * (100vw - 400px)/ 624));
        }        
    }


    .jumbotron {
        position: relative;
        margin-bottom: 0;
        padding: ($jumbotron-padding * 2) 0;
        
        background-color: $secondary;
        color: white;

        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {
            height: 650px;
        }

        @include media-breakpoint-up(xl) {
            height: 750px;
        }    

        .display-2 {
            margin-bottom: 20px;
            margin-left: 3px;
        }

        .container-fluid {
            max-width: 1440px;
        }
    }

    .jumbotron_readOn {
        position: relative;
        height: 70px;
        overflow: hidden;

        > svg {
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-left: 6px;
        }

        a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 15px;
            font-size: $font-size-sm;
            color: white;

            svg {
                margin: 3px auto 0; 
                height: 21px;
                transition: transform $trans-fast;                
            }

            &:hover {
                text-decoration: none;
                color: $dark;

                svg {
                    transform: translateY(3px);
                }
            }
        }
    }

    .landing_intro {
        position: relative;

        h2 {
            font-size: 40px;
            font-weight: $font-weight-medium;
            margin-bottom: 15px;
        }


        @include media-breakpoint-down(md) {
            margin-bottom: 200px;
        }
    }

    .landing_intro-wrapper {
        max-width: 540px;    

        @include media-breakpoint-down(md) {
            margin: 0 auto;
        }    
    }

    .landing_illustrations {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        overflow: hidden;

        .row {
            height: 100%;
        }
    }

    @keyframes guy-arm {
        0% {
            transform: translateX(-3px);
        }
        20% {
            transform: translateX(2px);
        }
        65% {
            transform: translateX(2px);
        }
        100% {
            transform: translateX(-3px);     
        }
    }

    #landing_guy {
        position: absolute;
        bottom: 20px;
        left: calc(50% - 10px);
        transform: translateX(-50%);
        z-index: 3;
        height: 260px;

        @include media-breakpoint-up(xl) {
            height: 300px;  
        }

        #folder {
            transition: transform $trans-material-normal;

            .jumbotron:hover & {
                transform: translateY(-100px);                
            }
        }

        #arm {
            transform-origin: 50% 20%;
            // animation: guy-arm 6s ease infinite;
        }
    }

    #landing_guy_bg {
        position: absolute;
        bottom: 0;
        left: calc(50% + 10px);
        transform: translateX(-50%);
        height: 420px;
        z-index: 2;

        @include media-breakpoint-up(xl) {
            height: 500px;  
        }
    }

    #landing_buildings,
    #landing_bg_bottomright {
        position: absolute;
        bottom: 0;
        
    }
    
    #landing_buildings {
        z-index: 2;        
        height: 540px;
        bottom: 20px;
        left: calc(50% - 165px);        

        @include media-breakpoint-down(md) {
            display: none;
        }

        @include media-breakpoint-up(xl) {
            height: 660px;     
            left: calc(50% - 200px);        
            bottom: 0;            
        }

        line, path {
            stroke-miterlimit: 10 !important;
            stroke-width: 1.8px !important;
            stroke-dasharray: 10,7 !important;
            vector-effect: non-scaling-stroke !important;
            transform: rotateZ(360deg);
        }
    }

    #landing_bg_bottomright {
        height: 580px;
        left: calc(50% - 165px);        

        @include media-breakpoint-up(xl) {
            height: 650px;        
        }   
    }

    #landing_bg_bottomright {
        z-index: 1;
        @include media-breakpoint-up(xl) {
        }    

        @media (min-width: 1900px) {
        }
    }

    #landing_bg_topright {
        height: 260px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;

        @include media-breakpoint-down(lg) {
            display: none;
        }        

        @include media-breakpoint-up(xl) {
            height: 280px;
        }    

        @media (min-width: 1900px) {
            height: 360px;
        }
    }

    #landing_bg_topleft {
        height: 280px;    
        position: absolute;
        top: 0;
        left: 5%;
        z-index: 0;

        @include media-breakpoint-down(lg) {
            display:none;            
        }

        @include media-breakpoint-up(xl) {
            height: 275px;
        }    
    }

    #landing_bg_bottomleft {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;

        height: 300px;
        
        @include media-breakpoint-only(lg) {
            height: 360px;
        }        
    }

    #landing_bg_center {
        display: none;
        height: 160px;
        position: absolute;
        top: 50px;
        left: 46%;
        transform: translateX(-50%);
        z-index: 0;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    #landing_open {
        min-width: 100%;
        order:1;
        
        @include media-breakpoint-down(sm) {
            height: 440px;
        }

        @include media-breakpoint-up(md) {
            height: 600px;            
        }

        @include media-breakpoint-up(md) {
            margin-top: -80px;
            margin-bottom: -60px;
        }
    }

    #landing_privacy {
        width: 100%;
        max-height: 380px;  

        @include media-breakpoint-down(sm) {
            height: 300px;
        }
    }

    #landing_safe {
        width: 100%;
        max-height: 300px;
        margin-top: 20px; 

        @include media-breakpoint-down(sm) {
            height: 240px;
        }
    }
}
