@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Color
$primary:                     #FEBF24;
$secondary:                   #3D83FA;
$color-text:                  #5b5e6d;
$body-color:                    $color-text;

$sec-100: tint($secondary, 95%);
$sec-200: #B4D3FC;
$sec-500: tint($secondary, 35%);


// $body-color:                  #435166;
$tooltip-max-width:             340px;
$tooltip-bg:                    white;
$tooltip-color:                 $color-text;
$tooltip-opacity:               1;

// Font weight
$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-medium:            600;
$font-weight-bold:              800;

// Font
$font-family-sans-serif:        'Muli', sans-serif;
$font-size-base:                1.1rem;
$font-weight-base:              $font-weight-light;
$line-height-base:              1.75;

// Heading
$headings-margin-bottom:        1rem;
$headings-font-family:          inherit;
$headings-font-weight:          $font-weight-medium;
$headings-line-height:          1.3;
$headings-color:                inherit;

// Container width
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1640px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1240px
);

// Grid
$grid-gutter-width:             60px;

// Padding
$input-btn-padding-y-lg:        .5rem;
$input-btn-padding-x-lg:        1rem;

$jumbotron-padding:             4rem;

// Transition
$transition-base:               all .15s ease;
$trans-fast:                    .15s ease;


$trans-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$trans-time-fast: 0.15s;
$trans-time-normal: 0.25s;
$trans-time-slow: 0.35s;

$trans-fast: $trans-time-fast ease;
$trans-normal: $trans-time-normal ease;
$trans-slow: $trans-time-slow ease;

$trans-material-fast: $trans-time-fast $trans-bezier;
$trans-material-normal: $trans-time-normal $trans-bezier;
$trans-material-slow: $trans-time-slow $trans-bezier;
