$primary:                     #FEBF24;
$secondary:                   #6190FC;

$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-medium:            600;
$font-weight-bold:              700;

$font-family-sans-serif:        'Open Sans', sans-serif;
$font-size-base:                1.1rem;
$font-weight-base:              $font-weight-light;
$line-height-base:              1.8;


$headings-margin-bottom:        1rem;
$headings-font-family:          inherit;
$headings-font-weight:          $font-weight-medium;
$headings-line-height:          1.3;
$headings-color:                inherit;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

$input-btn-padding-y-lg:        .5rem;
$input-btn-padding-x-lg:        1.2rem;

$grid-gutter-width:             60px;

$jumbotron-padding:             4rem;

$transition-base:               all .15s ease;
$trans-fast:                    .15s ease;



$trans-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$trans-time-fast: 0.15s;
$trans-time-normal: 0.25s;
$trans-time-slow: 0.35s;

$trans-fast: $trans-time-fast ease;
$trans-normal: $trans-time-normal ease;
$trans-slow: $trans-time-slow ease;

$trans-material-fast: $trans-time-fast $trans-bezier;
$trans-material-normal: $trans-time-normal $trans-bezier;
$trans-material-slow: $trans-time-slow $trans-bezier;
