<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">

        <title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>
    </head>
    <body {{ if .IsHome }}class="page-landing"{{ end }}>
        <header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
            <div class="container">
                <!-- <a class="navbar-brand" href="{{ "/" | absLangURL }}"></a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <a class="navbar-logo" href="{{ .Permalink }}">
                        {{ readFile "static/svg/logo.svg" | safeHTML }}                            
                    </a>

                    <ul class="navbar-nav">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                            <li class="nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{end}}">
                                <a class="nav-link" href="{{ .URL | absLangURL }}">
                                    {{ .Name }}
                                    {{ if $currentPage.IsMenuCurrent "main" . }}<span class="sr-only">(active)</span>{{end}}
                                </a>
                            </li>
                        {{ end }}
                    </ul>

                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-svg" href="https://github.com/VNG-Realisatie/nlx" target="_blank" aria-label="GitHub">
                                {{ readFile "static/svg/github.svg" | safeHTML }}
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link nav-svg" href="https://nl-x.slack.com" target="_blank" rel="noopener" aria-label="Slack">
                                {{ readFile "static/svg/slack.svg" | safeHTML }}
                            </a>
                        </li> -->
                    </ul>

                    <!-- <ul class="navbar-nav ml-auto">
                        {{ range .Translations }}
                            <li class="nav-item nav-item--lang">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.79 45"><title>landing-lang-bg</title><path d="M53.66,34.14c-2.6,5.55-8.37,9.11-14.29,10.3s-12,.31-17.87-1C14,41.77,6,38.89,2.15,32.18S-.16,16.59,4.65,10.54,17,1.16,24.6.28,39.77.74,47.09,2.64c6.5,1.7,13.65,4.56,16,10.94,1.57,4.31.44,9.29-1.91,13.3S55.37,34.09,52,37.23" style="fill:#588ce8"/></svg>
                                <a class="nav-link" href="{{ .Permalink }}">
                                    {{ .Language.LanguageName }}
                                </a>
                            </li>
                        {{ end}}
                    </ul> -->
                </div>
            </div>
        </header>

        <main role="main">
